.SideMenu ul li {
    margin-left: -17px;
    text-decoration: none;
    display: inline-block;
}


.SideMenu ul li a{
    text-decoration: none;

}

.SideMenu ul li {
  display: inline-block;

}

.SideMenu ul li a:active{
}